.filter-list
{
    list-style-type: none;
    height: 35px;
    margin: -20px 0px 10px 0px;
    padding: 0 10px 0 10px;
    display: none;
    background-color: #3D7900;
    font-size: 14px;
}

.filter-list li
{
    float: left;
    margin: 10px 30px 10px 0;
}

.filter-list label,
.filter-list input
{
	cursor:pointer;
}

.issue-list
{
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

.issue-list-wrapper
{
	margin: 0 0 20px 0;
}

.issue-list td
{
    border: 1px outset #808080;
    padding: 10px;
}

.issue-list th
{
    border: 1px outset #CCCCCC;
    background-color: #950000;
    color: #FFFF00;
    font-size: 16px;
}
.issue-list th:hover
{
    background-color: #0F5CFF;
}

.issue-list tr:hover
{
    background-color: #003399;
}

.Actions
{
	width: 7%;
}

.CreatedBy, .Assigned, .Status, .Priority
{
	width: 10%;
	text-align: center;
}

.Created, .LastModified
{
	width: 10%;
	text-align: center;
}

.Description
{
	width: 20%;
	overflow: hidden;
}

.Id
{
	width: 3%;
	text-align: center;
}

.Title
{
	width: 25%;
}

.grouping-wrapper
{
	margin-bottom:20px;
}

.groupHeader
{
	margin-bottom:10px;
}